/*  general  */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300i,400,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*google font */
body {
  font-size: 62.5%; }

ul {
  list-style-type: none; }

.fb {
  background-color: #4267B2; }

.instagram {
  background-color: #D1004F; }

.twitter {
  background-color: #1C9CEA; }

.section {
  clear: both;
  padding: 0;
  margin: 0; }

.group:before, .group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1; }

/* end general   */
/* nav and search bar*/
.navbarAndSearch {
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  background: #f6412d;
  background: linear-gradient(#f6412d, rgba(253, 97, 50, 0.7));
  width: 100%;
  overflow: hidden;
  /* left ul of navbar*/
  /* right ul of navbar*/ }
  .navbarAndSearch .left-ul {
    float: left; }
    .navbarAndSearch .left-ul li {
      display: inline-block;
      font-size: 1.4em;
      text-transform: capitalize;
      padding: 0 10px; }
      .navbarAndSearch .left-ul li a {
        color: #fff; }
    .navbarAndSearch .left-ul .social-links {
      font-size: 1.5em;
      padding: 3px 10px;
      border-radius: 10%; }
    .navbarAndSearch .left-ul li:nth-child(1), .navbarAndSearch .left-ul li:nth-child(2) {
      border-right: 1px solid #fff; }
  .navbarAndSearch .right-ul {
    float: right;
    margin-right: 20px; }
    .navbarAndSearch .right-ul li {
      display: inline-block;
      font-size: 1.4em;
      text-transform: capitalize;
      padding: 0 10px;
      border-right: 1px solid #fff; }
      .navbarAndSearch .right-ul li a {
        color: #fff; }
      .navbarAndSearch .right-ul li i {
        margin-right: 3px; }
    .navbarAndSearch .right-ul li:last-child {
      border-right: none; }

/*start logo and search */
.logo, .searchbar {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

.logo {
  margin-left: 0;
  width: 32.26%; }
  .logo h2 {
    font-size: 5em; }
    .logo h2 a {
      color: #089c08; }
  .logo span {
    font-size: 2em; }

.searchbar {
  width: 66.13%; }
  .searchbar input {
    width: 80%;
    float: left;
    border: none;
    height: 50px;
    font-size: 1.6em; }
  .searchbar a {
    display: inline-block;
    height: 50px;
    margin-left: -50px;
    margin-top: 5px;
    font-size: 3em;
    color: #f6412d;
    text-align: center; }

/*End  nav and search bar*/
/*  Responsive design */
@media only screen and (max-width: 768px) {
  .navbarAndSearch .left-ul li {
    font-size: 1.6em;
    padding-top: 10px; }
    .navbarAndSearch .left-ul li .social-links {
      font-size: 1.2em;
      padding: 3px 10px;
      border-radius: 10%; }
  .navbarAndSearch .left-ul li:first-child {
    margin-left: 0; }
  .navbarAndSearch .right-ul li {
    padding-top: 10px; } }
/* searchbar and logo media queries*/
@media only screen and (max-width: 700px) {
  .logo, .searchbar {
    margin: 1% 0 1% 0;
    width: 100%; }

  .logo h2 {
    font-size: 4em; }
  .logo span {
    font-size: 1.4em; }

  .searchbar {
    margin-top: 5px; }
    .searchbar input {
      font-size: 1.2em; }
    .searchbar a {
      font-size: 2em;
      margin-left: -40px; } }
/* end navbar and searchbar */
.footer {
  background: #ce493a;
  height: 50px;
  text-align: center;
  font-size: 2em;
  color: #fff; }

/*# sourceMappingURL=base.css.map */
