{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title %}Shodai Online Shop {% endblock title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- fontawsome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'vendorCss/slick.css'%}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {%block CSS %}
    {% endblock CSS%}
</head>
<body>

    {% if messages %}
 
    {% for message in messages %}
 
      <div class="alert alert-success text-center messages" role="alert">
        {{ message }}
      </div>
    {% endfor %}
 
{% endif %}

    <div class="navbarAndSearch">
     <div class="navbar mt-2">
         <ul class="left-ul">
             <li><a href="#">Seller Center</a></li>
             <li><a href="#">Follow us on </a> </li>
             <li><a class="social-links fb" href="#"><i class="fab fa-facebook-f"></i></a></li>
             <li><a class="social-links instagram" href="#"><i class="fab fa-instagram"></i></a></li>
             <li><a class="social-links twitter" href="#"><i class="fab fa-twitter"></i></a></li>
         </ul>

         <ul class="right-ul">
            <li><a href="#"><i class="fa fa-bell"></i>Notification</a></li>
            <li><a href="#"><i class="fa fa-question"></i>Help</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' user.id %}"><i class="fa fa-user"></i>{{user.username}}</a></li>
            <li><a href="{% url 'logout'%}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
            {%else %}
            <li><a href="{% url 'signup'%}"><i class="fa fa-user-plus"></i>Sign Up</a></li>
            <li><a href="{% url 'login'%}"><i class="fa fa-user"></i>Login</a></li>
            {% endif %}
             
         </ul>
     </div>

     <div class="section group" style="margin-left: 50px;">
         <div class="logo">
              <a href="{% url 'home'%}">সদাই</a> 
             <span>তৃতীয় পক্ষের হস্তক্ষেপ নাই</span> 
         </div>
         <div class="searchbar">
            <input class="form-group" type="text" placeholder="Search Products , Seller ,favourites">
            <a href="#"><i class="fa fa-search"></i></a>
         </div>
     </div>
    
    </div>

<!--  Carousal block -->
    {%block Carousal%}
    <div class="carousal-slide">

        {% for offer in offerlist %}
        <div class="single-slide" style=" background-image:url(..{{offer.offerImage.url}} );">
            <div class="inner-text">
                <h1>{{offer.offerName}}</h1>
                <h3>Now {{offer.percentage }}% off</h3>
                <p>this is simple description</p>
            </div>
        </div>
        {% endfor %}
    </div>

    {%endblock Carousal%}
 

    <!-- Categoies --> 
    <!-- Main content block -->

    {% block content%}
     <div class="categories ">
         <div class="category-header section group my-3 card">
             <h3 class="card-text"><i class="fa fa-list "></i>Categories</h3>
         </div>
         <div class="imageAndDesc section group">
            {%for category in categorylist %}
            <div class="item card">
                 <img src="..{{category.categoryImage.url}}" id="categoyImg"> 
                 <a href="{% url 'singleCategory' category.get_absolute_url category.id%}" class="card-text mt-2">{{category.name}}</a>
 
            </div>
            {% endfor %}

         </div>
     </div>
     
    {% endblock content %}



    <div class="footer-section">
        <div class="company-description container">
            <h1> <span class="company-logo">CodeChmist</span> Solutions</h1>
            <h3>One Stop <span class="company-logo"> IT solution</span></h3>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="card developer">
                        <div class="top-background">
                            <img alt="" src="{%static 'images/programming.jpeg'%}">
                        </div>
                        <div class="developer-img">
                            <img alt="Fuad Ashraful" src="{% static 'images/developer-ashraful.jpg' %}">
                        </div>
                        <div class="developer-title text-center">
                                <h3>By<span class="developer-name"> Fuad Ashraful</span> </h3>
                                <span>Front & Backend Developer</span>               
                        </div>

                        <div class="social-icons">
                            <a href="https://www.facebook.com/profile.php?id=100005430676436"><i class="fab fa-facebook-f"></i></a></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a></a>
                            <a href=""><i class="fab fa-twitter"></i></a></a>

                        </div>

                    </div>
                </div>


                <div class="col-md-8">
                    <div class="services">
                        <h3>Services We provide</h3>
                        <ul>
                            <li><i class="fab fa-app-store-ios fa-2x"></i> App Development</li>
                            <li><i class="fas fa-comments-dollar fa-2x"></i>E-commerce</li>
                            <li><i class="fas fa-robot fa-2x"></i>ML & AI</li>
                            <li><i class="fas fa-cloud fa-2x"></i>Cloud Solution</li>
                        </ul>            
                    </div>
                </div>



            </div>
             
            <p class="mt-4 text-center footer-text">Right goes to<strong> Fuad Ashraful </strong> &copy; 2020 </p>
        </div>
    </div>

    <!-- bootstrap js  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!--ion-icon cdn-->
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <!-- Carousal JS -->
    <script src="{% static 'vendorJs/jquery.elevatezoom.js' %}"></script>
    <script src="{% static 'vendorJs/slick.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>

    {%block JS %}
    
    {% endblock JS%}
</body>
</html>