{% extends 'base.html'%}
{% load static %}
{% block CSS%}
 <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
{% endblock CSS %}

{% block content %}
 
<div class="user-upload">
    <div class="upload-content">
        <h2>Hello <i>{{name}}</i></h2>
        <p>Heartiest congratulation from Sodai Upload Your product get best Sell !</p>
        <a href="{% url 'upload' %}" class="sell-btn bg-success"><i class="fas fa-upload"></i>Sell Product</a>
    </div>
</div>
{% endblock content %}