/*  general  */
*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
/*google font */ 
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300i,400,600&display=swap');
body
{
    font-size: 62.5%;
}
ul
{
    list-style-type: none;
}
.fb{background-color:#4267B2;}
.instagram{background-color: #D1004F;}
.twitter{background-color: #1C9CEA;}

.section
{
    clear: both;
    padding: 0;
    margin: 0;
}
.group:before,.group:after
{
 content: "";
 display: table;
}
.group:after
{
    clear: both;
}
.group
{
    zoom: 1;
}
/* end general   */

 /* nav and search bar*/ 
.navbarAndSearch
{
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    background:rgba(246,65,45,1);
    background: linear-gradient(rgba(246,65,45,1),rgba(253, 97, 50,0.7));
     
    width: 100%;
    overflow: hidden;
  /* left ul of navbar*/ 
    .left-ul
    {
        float: left;
        li
        {
            display: inline-block;
           
            font-size: 1.4em;
            text-transform: capitalize;
            padding: 0 10px;
            a
            {
                color: #fff;
            }
        }
        .social-links
        {
            font-size: 1.5em;
            padding: 3px 10px;
            border-radius: 10%;

        }
        li:nth-child(1),li:nth-child(2) 
        {
            border-right: 1px solid #fff;
        }
    }
 /* right ul of navbar*/ 
    .right-ul
    {
        float: right;
        margin-right: 20px;
        
        li
        {
            display: inline-block;
            font-size: 1.4em;
            text-transform: capitalize;
            padding: 0 10px;
            a{
                color: #fff;
            }
            border-right: 1px solid #fff;
            i
            {
                margin-right: 3px;
            }
        }
        li:last-child
        {
            border-right: none;
        }

    }
 
}

/*start logo and search */

.logo,.searchbar
{
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
     
}
.logo
{
    
    h2
    {
        font-size: 5em;
        a{
            color: rgb(8, 156, 8);
        }
    }
    span
    {
        font-size: 2em;
    }
    margin-left: 0;
    width: 32.26%;
}
.searchbar
{
    width: 66.13%;
    input
    {
        width: 80%;
        float: left;
        border: none;
        height: 50px;
        font-size: 1.6em;
    }
    a{
        display: inline-block;
        height: 50px;
        margin-left: -50px;
        margin-top: 5px;
        font-size: 3em;
        color: rgba(246,65,45,1);
       
        text-align: center;
    }
}
 
 /*End  nav and search bar*/ 







/*  Responsive design */

@media only screen and(max-width:768px)
{
   .navbarAndSearch
   {
    .left-ul
    {
        li
        {
            font-size: 1.6em;
            padding-top: 10px;
            .social-links
            {
                font-size: 1.2em;
                padding: 3px 10px;
                border-radius: 10%;

            }
            
            
        }
        li:first-child
        {
            margin-left: 0;
        }
    }
    
    .right-ul
    {
        li
        {
            padding-top: 10px;
        }
    }
   } 
}
/* searchbar and logo media queries*/ 

@media only screen and (max-width:700px)
{
    .logo,.searchbar
    {
        margin: 1% 0 1% 0;
        width: 100%;
    }
    .logo
    {
        h2
        {
            font-size: 4em;
        }
        span
        {
            font-size: 1.4em;
        }

    }
    .searchbar
    {
        margin-top: 5px;
        input
        {
            font-size: 1.2em;
        }
        a{
            font-size: 2em;
            margin-left: -40px;
        }
    }
}


/* end navbar and searchbar */




.footer
{
    background: rgb(206, 73, 58);
    height: 50px;
    text-align: center;
    font-size: 2em;
    color: #fff;
}