/*  general  */
*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
/*google font */ 
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300i,400,600&display=swap');
body
{
    font-size: 62.5%;
}
ul
{
    list-style-type: none;
}
.fb{background-color:#4267B2;}
.instagram{background-color: #D1004F;}
.twitter{background-color: #1C9CEA;}

 /*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1;  }
/* end general   */

 /* nav and search bar*/ 
.navbarAndSearch
{
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    background:rgba(246,65,45,1);
    background: linear-gradient(rgba(246,65,45,1),rgba(253, 97, 50,0.7));
     
    width: 100%;
    overflow: hidden;
  /* left ul of navbar*/ 
    .left-ul
    {
        float: left;
        li
        {
            display: inline-block;
           
            font-size: 1.4em;
            text-transform: capitalize;
            padding: 0 10px;
            a
            {
                color: #fff;
                text-decoration: none;
            }
        }
        .social-links
        {
            font-size: 1.5em;
            padding: 3px 10px;
            border-radius: 10%;

        }
        li:nth-child(1),li:nth-child(2) 
        {
            border-right: 1px solid #fff;
        }
    }
 /* right ul of navbar*/ 
    .right-ul
    {
        float: right;
        margin-right: 20px;
        
        li
        {
            display: inline-block;
            font-size: 1.4em;
            text-transform: capitalize;
            padding: 0 10px;
            a{
                color: #fff;
                text-decoration: none;
            }
            border-right: 1px solid #fff;
            i
            {
                margin-right: 3px;
            }
        }
        li:last-child
        {
            border-right: none;
        }

    }
 
}

/*start logo and search */

.logo,.searchbar
{
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
     
}
.logo
{
    
   
        a{
             font-size: 5em;
            color: rgb(8, 156, 8);
            text-decoration: none;
            display: block;
        }
    
    a:hover
    {
        font-size: 5.3em;
    }
    span
    {
        font-size: 2em;
    }
    margin-left: 0;
    width: 32.26%;
}
.searchbar
{
    width: 66.13%;
    input
    {
        width: 80%;
        float: left;
        border: none;
        height: 50px;
        font-size: 1.6em;
    }
    a{
        display: inline-block;
        height: 50px;
        margin-left: -50px;
        margin-top: 5px;
        font-size: 3em;
        color: rgba(246,65,45,1);
       
        text-align: center;
    }
}
 
 /*End  nav and search bar*/ 


/* Categories design*/
 
.categories
{
    position: relative;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    .category-header
    {
        background: rgba(229, 229, 224, 1.0);
        width: 80%;
        margin: 0 auto;
        color: rgb(48, 46, 46);
        padding: 10px 0;
     h3
    {
        text-align: center;
       i
       {
           margin-right: 10px;
       }
    }      
    }




    .imageAndDesc
    {
      width: 95%;
      margin: 10px auto;
      background: rgba(229, 229, 224, 1.0);
      .item
      {
          position: relative;
          margin: 10px 2%;
          float: left;
          display: block;
          margin: 1% 0 1% 1.6%;
          width: 23%;
          height: 200px;
          text-align: center;
          overflow: hidden;
          #categoyImg
          {
              
              width:110%;
              height: 150px;
          }

          a
          {
              font-size: 1.6em;
              font-family: 'Source Sans Pro', sans-serif;
              color: rgba(249, 99, 74, 1.0);
              text-decoration: none;
          }
      }

      
      .item:hover
      {
        box-shadow: 0 0 11px rgba(249, 99, 74, 1.0);
        font-size: 1.7em;
        transform:ease 0.5s;
      }
      
    }
 

}


/*Categories media queries*/ 
@media only screen and (max-width:480px)
{
    .categories
    {
        .imageAndDesc
        {
            
            .item
            {
                width: 100%;
                margin: 3% 0 1% 0;
                height: 180px;
            }
        }
    }

}

@media only screen and (max-width:768px)
{
    .categories
    {
        .imageAndDesc
        {
            
            .item
            {
                 
                margin: 2% 0 1% 2%;
                height: 180px;
            }
        }
    }

}





/*  Responsive design */

@media only screen and(max-width:768px)
{
   .navbarAndSearch
   {
    .left-ul
    {
        li
        {
            font-size: 1.6em;
            padding-top: 10px;
            .social-links
            {
                font-size: 1.2em;
                padding: 3px 10px;
                border-radius: 10%;

            }
            
            
        }
        li:first-child
        {
            margin-left: 0;
        }
    }
    
    .right-ul
    {
        li
        {
            padding-top: 10px;
        }
    }
   } 
}
/* searchbar and logo media queries*/ 

@media only screen and (max-width:700px)
{
    .logo,.searchbar
    {
        margin: 1% 0 1% 0;
        width: 100%;
    }
    .logo
    {
       a
        {
            font-size: 4em;
        }
        span
        {
            font-size: 1.4em;
        }

    }
    .searchbar
    {
        margin-top: 5px;
        input
        {
            font-size: 1.2em;
        }
        a{
            font-size: 2em;
            margin-left: -40px;
        }
    }
}


/*Carousal slide Css */

.carousal-slide
{
    width: 100%;
    position: relative;
    margin: 0 auto;
    background: pink;
    box-sizing: border-box;
}

.single-slide
{
    height: 500px;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.inner-text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(240, 240, 18);
    font-weight: 800;
    text-align: center;
     
}

.slick-dots  
{
    position: absolute;
    top: 90%;
    left: 50%;
    z-index: 99;
    transform: translateX(-50%);
}

.slick-dots li
{
    display: inline-block;
    margin-left: 5px;

}
.slick-dots li:first-child
{
    margin-left: 0;
}

.slick-dots li button
{
    border: none;
     height: 10px;
     width: 10px;
    border-radius: 50%;
    font-size: 8px;
}

.slick-dots li.slick-active button
{
    background: green;
    color: #fff;
    height: 15px;
    width: 15px;
    
}

.slick-prev
{
    position:absolute;
    top: 45%;
    z-index: 10;
    left: 5%;
   padding: 10px;
     
}
.slick-next
{
    position:absolute;
    top: 45%;
    z-index: 10;
    right: 5%;
    padding: 10px;
     
}
.slick-next,.slick-prev
{
    
    border: none;
     
    border-radius: 50%;
}

.slick-next:hover,.slick-prev:hover
{
    background: #666;
    color: #fff;
}


/* end navbar and searchbar */


.footer
{
    background: rgb(206, 73, 58);
    height: 50px;
    text-align: center;
    font-size: 2em;
    color: #fff;
}

/*********** Cart-section Css *************/
.cart-section{
    position: fixed;
    bottom: 10%;
    right: 0;
    height: 400px;
    width: 300px;
    background: rgba(250, 108, 81, 0.8);
    z-index: 20;
    border-radius: 5px;

} 

.cart-button{
    position: fixed;
    bottom: 1%;
    right: 1%;
    width: 180px;
    height: 45px;
    z-index: 50;
    background:rgba(250, 108, 81, 0.6);
    border-radius: 5px;
    z-index: 100;

    .one_of_two{
        width: 49.2%;
        float: left;
       
        margin-left: 0;

    
    }
    .bag-btn,.clearBag-bag{
        width: 100%;
        border: none;
        margin-top: 5px;
        height: 35px;
        font-size: 16px;
        color: #222;

       
    }
    .clearBag-bag{
        i{
            color: rgba(238, 33, 40, 1.0);
        }
    }
    .bag-btn{
        i{
            color: rgba(76, 175, 80, 1.0);
        }
    }

    .bag-btn:hover,.clearBag-bag:hover{
        background: #fff;
        color: rgba(250, 108, 81, 1.0);
        i {
            transform: rotate(360deg);
            transition: ease 1s;
          }
  
    }
 
    
 
 
}

/*********** End Cart-section Css *************/