

.products{
    position: relative;
    overflow: hidden;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
     
}
.product-grid{
    width: 95%;
    margin: 0 auto;
}

.one_of_four{
    width: 22.8%;
    span{
        display: block;
        font-size: 16px;
        text-align: center;
        padding: 2px 0;
    }
     
}


.productImg{
    width: 100%;
    height: 200px;
}

.one_of_two{
    width: 49%;
    button{
        width: 100%;
        height: 50px;
        border: none;
        font-size: 15px;
        text-align: center;
        letter-spacing: 1px;
        background: rgba(249, 97, 72, 1.0);
        color: #fff;

        i{
            margin-right: 3px;
        }
    }
    button:hover{
        color: rgba(249, 97, 72, 1.0);
        background: #fff;
    }
}


/*** responsive design goes here ***/

@media only screen and(max-width:868px){
    .one_of_four{
        width: 49%;
        margin-left: 3px;
    }
    
}

@media only screen and(max-width:600px){
    .one_of_four{
        width: 100%;
        margin-left: 3px;
    }
    
}